
<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-12">
                <h4>Changing Order Status</h4>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table width="100%">
                        <tr>
                            <th align="right">Reference No:</th>
                            <th align="left"><input type="text" id="reference_order" placeholder="Reference No #" tabindex="1" class="form-control" ng-model="search.so_order" ng-keypress="($event.which === 13)?search():return" /></th>
                            <th align="left"><img ng-click="search()" ng-src="/customizations/images/search.png" align="center" alt="Update Order and Fulfillment Type" src="/images/pos/save.png" height="28px" width="28px"> </th>
                            <!--<th>Actions</th>-->
                        </tr>
                   </table>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="col-md-12" id="displaydetails" style="display:none;">
                    <table class="table table-bordered table-striped" width="100%">
                        <!--<caption>{{viewItem.length}} item/s found.</caption>-->
                        
                        <tr>
                            <td>
                                <div class="col-md-6 resultMargin" id="refdocinfo" style="display:none;">
                                <span><h6><b>Note:</b>This customer order has not yet been created an invoice.</h6></span>
                                </div>
                                
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <div class="col-md-6 resultMargin">
                                <span><h6><b>Customer:</b> {{doc.bt_first_name}} {{doc.bt_last_name}}</h6></span>
                                </div>
                                <div class="col-md-6 resultMargin">
                                <span><h6><b>Reference #</b> {{doc.notes_order}}</h6></span>
                                </div>
                                <div class="col-md-6 resultMargin">
                                <h6><b>Transaction Date:</b> {{doc.invoice_posted_date | date:'yyyy-MM-dd'}}</h6>
                                </div>
                                <div class="col-md-6 resultMargin">
                                <h6><b>Store Number:</b> {{doc.store_number}}</h6>
                                </div>
                                <div class="col-md-6 resultMargin">
                                <h6><b>Transaction Amount:</b> {{doc.transaction_total_amt}}</h6>
                                </div>
                                <div class="col-md-6 resultMargin">
                                <h6><b>Original Store Code:</b> {{doc.original_store_code}}</h6>
                                </div>
                                <div class="col-md-6 resultMargin">
                                <h6><b>Order Status:</b> 
                                    <span ng-if="doc.udf_string2==''&&doc.order_document_number==''">Not Applicable</span>
                                    <span ng-if="doc.udf_string2==''&&doc.order_document_number!=''">Authorized and Waiting Allocation</span>
                                    <span ng-if="doc.udf_string2=='SE'">Allocated and Picking Pending</span>
        <!--                            <span ng-if="doc.udf_string2=='SE'">Accepted</span>-->
                                    <span ng-if="doc.udf_string2=='PK'">Ready for Shipment/Pickup</span>
                                    <span ng-if="doc.udf_string2=='WP'">Invoiced - Awaiting Courier/Customer</span>
                                    <span ng-if="doc.udf_string2=='DP'">Order Shipped/Picked Up</span>
                                    <span ng-if="doc.udf_string2=='DL'">Customer - Order Delivered</span>
                                    <span ng-if="doc.udf_string2=='IP'">Order In-Picking</span>
                                    <span ng-if="doc.udf_string2=='IK'">Order In-Packing</span>
                                    <span ng-if="doc.udf_string2=='FA'">Invoiced - Shipping Label Printed</span>
                                    <span ng-if="doc.udf_string2=='RJ'">Reject</span>
                                </h6>
                                </div>
                            </td>
                        </tr>
                   </table>
                </div>
                <div class="col-md-12" id="displayNoRecord" style="display:none;">
                    <table class="table table-bordered table-striped" width="100%">
                        <!--<caption>{{viewItem.length}} item/s found.</caption>-->
                        <tr>
                            <td align="center">
                                <div class="col-md-6 resultMargin">
                                    <span><h6><b>NO RECORD FOUND<b></h6></span>
                                </div>
                            </td>
                        </tr>
                   </table>
                </div>
                <br/>
                <br/>
                <br/>
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-12" id="displaystatusdetails" style="display:none;">
                        <table width="100%">
                            <tr>
                                <td align="left"><span id="shipStatus1"><b>Status:</b></span></td>
                                <td align="left">
                                        <select id="changeStatus" name="changeStatus" class="form-control" tabindex="1" ng-model="changeStatus" data-collect-permission="" ng-change="handler($event)">
                                            <option value="">PLEASE SELECT</option>
                                            <option value="PK" ng-if="shipstate!='DT'&&ref_order_sid==''">Ready for Shipment/Pickup (PK)</option>
                                            <option value="FA" ng-if="shipstate!='DT'&&ref_order_sid!=''&&(doc.udf2_string!='DP'||doc.udf2_string!='DL')">Invoiced - Shipping Label Printing (FA)</option>
                                            <option value="DP" ng-if="shipstate!='DT'&&ref_order_sid!=''">Order Shipped/Picked Up(DP)</option>
                                            <option value="DL" ng-if="shipstate!='DT'&&ref_order_sid!=''">Customer-Order Delivered(DL)</option>
                                            <option value="CC" ng-if="ref_order_sid==''&&shipstate=='DT'">Customer Order Received(OR)</option>
                                            <option value="RJ" ng-if="ref_order_sid!=''&&ref_order_sid==''">Reject (RJ)</option>
                                            <option value="DT">Click and Collect (For Testing Only)</option>
                                        </select>
                                        <input type="hidden" name="orderSID"  id="orderSID" value/>
                                </td>
                            </tr>
                       </table>
                </div>
                <div class="col-md-12">&nbsp;</div>
<!--                <div class="col-md-12">
                    <span id="divNotFound">
                        <table class="table table-bordered table-striped" width="100%">
                            <caption>{{viewItem.length}} item/s found.</caption>
                            <tr>
                                <td>
                                    <div class="col-md-6 resultMargin">
                                        <span><h6><b>RECORD NOT FOUND</b></h6></span>
                                    </div>
                                </td>
                            </tr>
                       </table>
                    </span>
                </div>-->
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <img ng-click="view()" ng-src="/customizations/images/view.png" align="center" alt="Cancel" src="/customizations/images/view.png" height="28px" width="28px">
                    &nbsp;&nbsp;
                    <img ng-click="close()" ng-src="/images/pos/delete.png" align="center" alt="Cancel" src="/images/pos/delete.png" height="28px" width="28px">
                    &nbsp;&nbsp;
                    <img ng-click="update()" ng-src="/customizations/images/proceed.png" align="center" alt="Update Status" src="/images/pos/save.png" height="28px" width="28px">
                </div>
            </div>
        </div>
    </div>
</div>
